# Ignore everything
/*

!.gitignore
!.gitpod.yml
!.gitpod.Dockerfile
!bc.json
!preview.png
!README.md
!BC_RUN_segunda_vez.bat
!/exercises
!/exercises/*

!/.breathecode
/.breathecode/**
!/.breathecode/resets
!/.breathecode/resets/**
!/.breathecode/assets
!/.breathecode/assets/**
